$text-main: #4b4b4b;
$text-secondary: #77787E;

$background: #f6f6f6;

$background-1-starters: rgba(240, 230, 220, 0.95);
$background-1-mains: rgba(240, 230, 220, 0.95);
$background-1-desserts: rgba(240, 230, 220, 0.95);

$background-2-starters: rgba(233, 187, 70, 0.5);
$background-2-mains: rgba(230, 129, 46, 0.5);
$background-2-desserts: rgba(250, 94, 69, 0.5);