@import "colours";

body {
  padding: 0;
  margin: 0;
}

canvas {
  vertical-align: top;
}

.baseParagraph {
  font-size: 15px;
}

.baseText {
  font-family: Helvetica, Arial, sans-serif;
}

h3 {
  @extend .baseText;
  color: $text-main;
}

h4 {
  @extend .baseText;
  color: $text-main;
}

p {
  @extend .baseText;
  @extend .baseParagraph;
  font-weight: 100;
  color: $text-secondary;
}

.container {
  position: relative;
  left: 80px;
  top: 10px;
}

.para {
  @extend p;
  font-weight: 600;
}

.para1 {
  @extend p;
  font-weight: 200;
  color: $text-secondary;
  font-style: italic;
}

.para1Bold {
  @extend p;
  font-weight: bold;
  color: $text-secondary;
  font-style: normal;
}

.baseCourse {
  position: absolute;
  width: 350px;
  padding: 15px 25px 15px 35px;
}

.starters {
  @extend .baseCourse;
  // background: rgba(233, 187, 70, 0.5);
  background-image: linear-gradient($background-1-starters, $background-2-starters);
  left: 0;
  top: 90px;
}

.mains {
  @extend .baseCourse;
  // background: rgba(230, 129, 46, 0.5);
  background-image: linear-gradient($background-1-mains, $background-2-mains);
  left: 420px;
  top: 90px;
}

.desserts {
  @extend .baseCourse;
  //background: rgba(250, 94, 69, 0.5);
  background-image: linear-gradient($background-1-desserts, $background-2-desserts);
  left: 840px;
  top: 90px;
}

.baseDiner {
  position: absolute;
  color: $text-secondary;
  font-weight: bold;
  font-size: 13px;
  background: $background;
  padding: 18px;
  width: auto;
  outline: none;
}

.baseDiner:focus {
  outline: none;
}

.diner1 {
  @extend .baseDiner;
  left: 0;
  top: 545px;
}

.diner2 {
  @extend .baseDiner;
  left: 420px;
  top: 545px;
}

.finaliseOrder {
  @extend .baseDiner;
  width: auto;
  left: 840px;
  top: 545px;
}

.reset {
  @extend .baseDiner;
  width: auto;
  left: 840px;
  top: 610px;
}

.baseList {
  position: absolute;
  padding: 20px 25px 35px 0;
  font-weight: bold;
  font-size: 13px;
  padding-right: 20px;
  width: 350px;
}

.list1 {
  @extend .baseList;
  left: 0;
  top: 590px;
}

.list2 {
  @extend .baseList;
  left: 420px;
  top: 590px;
}

.billDiner1 {
  @extend .baseList;
  left: 190px;
  top: 530px;
}

.billDiner2 {
  @extend .baseList;
  left: 610px;
  top: 530px;
}

.billTotal {
  @extend .baseList;
  left: 1020px;
  top: 530px;
}